.section {
  padding: 50px 0;
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    justify-content: center;
    .info {
      display: flex;
      flex-direction: column;
      gap: 30px;
      align-items: flex-start;
    }
  }
}
