.Navbar {
  padding: 20px 0;
  .Container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1290px;
    ul {
      display: flex;
      align-items: center;
      gap: 20px;
      li {
        padding: 12px 20px;
        a {
         p{
          &:hover {
           opacity: .6;
           }
         }
        }
      }
    }
  }
}
