.h5 {
  font-size: 22px;
  font-weight: 700;
  line-height: 145%;
  color: rgba(255, 255, 255, 1);
  @media (max-width: 1200px) {
    font-size: 20px;
  }
  @media (max-width: 1000px) {
    font-size: 18px;
  }
}
.work {
  font-family: "Work Sans", sans-serif;
}
.mono {
  font-family: "Space Mono", monospace;
}
