.InputForm {
  display: flex;
  background-color: #fff;
  justify-content: space-between;
  border-radius: 20px;
  overflow: hidden;
  @media (max-width: 1200px) {
    background-color: transparent;
    flex-direction: column;
	gap: 16px;
  }
  input {
    background-color: transparent;
    border: none;
    outline: none;
    padding: 10px 20px;
    flex: 1;
    color: rgba(43, 43, 43, 1);
    font-size: 16px;
    font-weight: 400;
    line-height: 145%;
    &::placeholder {
      color: rgba(43, 43, 43, 1);
    }
    @media (max-width: 1200px) {
      background-color: #fff;
      border-radius: 20px;
      padding: 19px 20px;
    }
  }
}
