.footer {
  padding: 40px 0 10px;
  background-color: rgba(59, 59, 59, 1);
  .top {
    display: grid;
    gap: 50px;
    justify-content: space-between;
    grid-template-columns: 1fr 0.6fr 1.5fr;
    border-bottom: 1px solid rgba(133, 133, 132, 1);
    padding: 0 20px 30px;
    @media (max-width: 820px) {
      gap: 30px;
    }
    @media (max-width: 765px) {
      grid-template-columns: 1fr;
    }
    .same {
      display: flex;
      flex-direction: column;
      gap: 25px;
      align-items: flex-start;
      h5 {
        @media (max-width: 470px) {
          font-size: 19px !important;
        }
      }
      ul {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
        li {
          color: rgba(204, 204, 204, 1);
          font-weight: 400;
          a {
            color: rgba(204, 204, 204, 1);
            &:hover {
              color: black;
            }
          }
        }
      }
    }
    .third {
      ul {
        li {
          &:last-child {
            align-self: stretch;
          }
        }
      }
    }
  }
  .bottom {
    color: rgba(204, 204, 204, 1);
    font-size: 12px;
    font-weight: 400;
    line-height: 150%;
    padding: 20px 0;
  }
}
