.Card {
  display: inline-block;
  width: 100%;
  .img_wrap {
    position: relative;
    img {
      filter: blur(3px);
      min-height: 100%;
    }
    .icon {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 3.4em;
      position: absolute;
      z-index: 100;
    }
  }
  .text_wrap {
  }
}
